@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100vh;
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url('/assets//fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}